.formulaire{
  margin-top: 5rem;
 display: flex;
 justify-content: center;
 .card {
   .card-body{
     .card-title{
       text-align: center;

     }
     .center{
      display: flex;
      justify-content: center;
     }
     a.btn.btn-primary.text-center{


     }
   }
 }
}
