<div class="formulaire">
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">Votre login</h5>
    <form #loginForm ="ngForm">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Votre noms</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="userName">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput3" placeholder="mot de passe">
      </div>
    </form>
    <div class="center">
        <a href="#" class="btn btn-primary text-center">Connectez-vous</a>
    </div>
      </div>
    </div>
</div>


